<audio controls="" controlslist="nodownload"><source src="./../audio/1.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong><strong>{{cut "QUESTIONS 1-10"}}</strong>            </p>
  <p><strong>Questions 1-5</strong></p>
    <p>Complete the information below. Write <strong>NO MORE THAN TWO WORDS</strong>
    
      <strong>AND/OR A NUMBER</strong> for each answer.</p>
    <p>&nbsp;</p>
  <table border="1" cellspacing="0" cellpadding="5" align="center" width="70%">
      <tbody><tr>
        <td colspan="2" valign="top"><p align="center">City Library</p></td>
      </tr>
      <tr>
        <td valign="top"><p><u>Head Librarian </u></p></td>
        <td valign="top"><p>Example: <em><u>Mrs. Phillips</u></em></p></td>
      </tr>
      <tr>
        <td valign="top"><p><u>Hours</u></p></td>
        <td valign="top"><p><strong>1</strong>
         <input type="text" data-qno="1" class="ex-input" style="width:120px"  required=""> to 4:30
         <span id="s1"> </span></p></td>
      </tr>
      <tr>
        <td valign="top"><p><u>Books</u></p>
          <p>Ground floor</p>
          <p>Second floor</p>
          <p>Third floor</p></td>
        <td valign="top"><p>&nbsp;</p>
        <p><strong></strong> <input type="text" data-qno="2" class="ex-input" style="width:120px" id="ex2" required=""> <span id="s2"> </span></p>
          <p>Adult collection</p>
          <p><strong></strong> <input type="text" data-qno="3" class="ex-input" style="width:120px" id="ex3" required=""> <span id="s3"> </span></p></td>
      </tr>
      <tr>
        <td valign="top"><p><u>Book carts</u></p>
          <p>Brown cart </p>
          <p>Black cart </p>
          <p>White cart</p></td>
        <td valign="top"><p>&nbsp;</p>
        <p>books to re-shelve</p>
          <p>books to<strong></strong> <input type="text" data-qno="4" class="ex-input" style="width:120px" id="ex4" required=""> 
          <span id="s4"> </span></p>
          <p>books to <strong></strong> 
          <input type="text" class="ex-input" style="width:120px" data-qno="5" id="ex5" required="">
          <span id="s5"> </span></p></td>
      </tr>
    </tbody></table>
    

    
    <p><strong>{{cut "Questions 6-10"}}</strong></p>
    <p>Complete the library schedule below.</p>
    <p>Write <strong>NO MORE THAN ONE WORD OR A NUMBER</strong> for each answer.</p>
    <table border="1" cellspacing="0" cellpadding="5" align="center" width="85%">
      <tbody><tr>
        <td valign="top"><p align="center">Activity</p></td>
        <td valign="top"><p align="center">Location</p></td>
        <td valign="top"><p align="center">Day and Time</p></td>
      </tr>
      <tr>
        <td valign="top"><p>Story Time</p>
          <p><strong></strong> 
          <input type="text" class="ex-input" data-qno="6" style="width:120px" id="ex7" required=""> 
          <span id="s7"> </span></p>
         <p> Lecture Series</p></td>
         
        <td valign="top"><p>Children's Room</p>
          <p>Reference Room</p>
          <p><strong></strong> 
          <input type="text" class="ex-input"        data-qno="7" style="width:120px" id="ex9" required=""> Room 
          <span id="s9"> </span> </p></td>
          
        <td valign="top"><p><strong></strong> 
        <input type="text" class="ex-input"        data-qno="8" style="width:120px" id="ex6" required=""> at 11:00 
        <span id="s6"> </span></p>
          <p>Saturday at <strong></strong> 
          <input type="text" class="ex-input"        data-qno="9" style="width:120px" id="ex8" required=""> 
          <span id="s8"> </span></p>
          <p>Friday at <strong></strong> 
          <input type="text" class="ex-input"        data-qno="10" style="width:120px" id="ex10" required="">
          <span id="s10"> </span></p></td>
      </tr>
    </tbody></table>
    </div>