<audio controls="" controlslist="nodownload"><source src="./../audio/12.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><strong id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong>
    <strong>{{cut "QUESTIONS 31-40"}}</strong></p>
  <p>Complete the timeline below. Write <strong>NO MORE THAN THREE WORDS 
  AND/OR A NUMBER</strong> for each answer.</p>
  <p><br>
    1832 - Alcott <strong></strong>
    <input type="text" data-qno="1" class="ex-input" style="width:150px" id="ex1" required="required">. <span id="s1"></span>
    </p>
  <p>
    In her teens Alcott worked to <strong></strong>
    <input type="text" data-qno="2" class="ex-input" style="width:150px" id="ex2" required="required">. <span id="s2"></span>
    </p>
  <p>
    At age 17 Alcott wrote her <strong></strong>
    <input type="text" data-qno="3" class="ex-input" style="width:150px" id="ex3" required="required">. <span id="s3"></span>
    </p>
  <p>
    <strong></strong>
    <input type="text" data-qno="4" class="ex-input" style="width:150px" id="ex4" required="required"> <span id="s4"></span>
Alcott enlisted as an army nurse.</p>
  <p>
    <strong></strong>
    <input type="text" data-qno="5" class="ex-input" style="width:150px" id="ex5" required="required"> <span id="s5"></span>
Alcott published her letters in a book called Hospital Sketches.</p>
  <p>
    <strong></strong>
    <input type="text" data-qno="6" class="ex-input" style="width:150px" id="ex6" required="required"> <span id="s6"></span>
Alcott returned from her trip to Europe.</p>
  <p>
    <strong></strong>
    <input type="text"  data-qno="7" class="ex-input" style="width:150px" id="ex7" required="required"> <span id="s7"></span>
Alcott published Little Women.</p>
  <p>
    1879 <strong></strong>
    <input type="text" data-qno="8" class="ex-input" style="width:150px" id="ex8" required="required"> <span id="s8"></span>
died.</p>
  <p>
    <strong></strong>
    <input type="text" data-qno="9" class="ex-input" style="width:150px" id="ex9" required="required"> <span id="s9"></span>
Alcott set up a home for her family in Boston.</p>
  <p>
    1888  - Alcott <strong></strong>
    <input type="text" data-qno="10" class="ex-input" style="width:150px" id="ex10" required="required">. <span id="s10"></span>
    <br> 
  </p>
  <p><br>
</p>
<div id="result" align="center"> </div>

<button id="b2" type="button" onclick="toggle()"> 
<img height="25px" src="/images/show.png" style="vertical-align: middle">Show answers</button>

