<audio controls="" controlslist="nodownload"><source src="./../audio/13.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-orignal={{sectionorg}}>
  <p><strong>SECTION {{section}} </strong>
    
    <strong>{{cut "QUESTIONS 1-10"}}</strong></p>

  <p>Complete the form below.</p>
  <p>Write <strong>NO MORE THAN TWO WORDS OR A NUMBER</strong> for each answer.</p>
  <table border="1" width="80%" cellspacing="0" cellpadding="3" align="center">
    <tbody><tr>
      <td style="padding-left:7px;" valign="top"><p>Example: </p></td>
      <td style="padding-left:7px;" valign="top"><p>ClearPoint <u>Telephone Company</u></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" colspan="2" valign="top"><div align="center">Customer Order Form</div></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Order taken by:</p></td>
      <td style="padding-left:7px;" valign="top"><p><u>Ms. Jones</u></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Name:</p></td>
      <td style="padding-left:7px;" valign="top"><p>Harold <strong>
            <input type="text" data-qno="1" class="ex-input" style="width:120px" id="ex1" required=""></strong> <span id="s1"></span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Address:</p></td>
      <td style="padding-left:7px;" valign="top">
        <p><strong><input type="text" data-qno="2" class="ex-input" style="width:120px" id="ex2" required=""></strong> <span id="s2"></span>  Fulton Avenue, apartment 12</p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Type of service:</p></td>
      <td style="padding-left:7px;" valign="top"><p><strong>
        <input type="text" data-qno="3" class="ex-input" style="width:120px" id="ex3" required=""></strong> <span id="s3"></span> <br>
      </p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Employer:</p></td>
      <td style="padding-left:7px;" valign="top"><p>Wrightsville Medical Group</p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Occupation:</p></td>
      <td style="padding-left:7px;" valign="top"><p><strong>
              <input type="text" data-qno="4" class="ex-input" style="width:120px" id="ex4" required="required">
      </strong> <span id="s4"></span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Work phone:</p></td>
      <td style="padding-left:7px;" valign="top"><p><strong>
        <input type="text" data-qno="5" class="ex-input" style="width:120px" id="ex5" required="required">
      </strong> <span id="s5"></span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Time at current job:</p></td>
      <td style="padding-left:7px;" valign="top"><p><strong>
            <input type="text" data-qno="6" class="ex-input" style="width:120px" id="ex6" required="required">
      </strong> <span id="s6"></span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Special services:</p></td>
      <td style="padding-left:7px;" valign="top"><p><strong>
        <input type="text" data-qno="7" class="ex-input" style="width:120px" id="ex7" required="required">
          </strong> <span id="s7"></span> <strong>
            <input type="text" data-qno="8" class="ex-input" style="width:120px" id="ex8" required="required">
      </strong> <span id="s8"></span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;" valign="top"><p>Installation scheduled for:</p></td>
      <td style="padding-left:7px;" valign="top"><p>Day <strong>
            <input type="text" data-qno="9" class="ex-input" style="width:120px" id="ex9" required=""> 
      </strong>  <span id="s9"></span> <br>Time of the day <strong>
      <input type="text" data-qno="10" class="ex-input" style="width:120px" id="ex10" required="required">
      </strong> <span id="s10"></span></p></td>
    </tr>
  </tbody></table>
<p>&nbsp;</p>
</div>