<audio controls="" controlslist="nodownload">
  <source src="./../audio/15.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>{{cut "Questions 21-23"}}</strong></p>
  <p>Complete the information below. Write <strong>NO MORE THAN TWO WORDS</strong> for each answer.</p>

  <div style="border:1px solid black; padding:5px 10px 5px 10px;">
    <p align="center"><strong>How you get academic credit for work experience</strong></p>

    <p>First, read the <strong></strong> <input type="text" class="ex-input" style="width: 170px" data-qno="1" id="ex1">
      <span id="s1"> </span>.
      Find courses that match your work experience. Then write <strong></strong> <input type="text" class="ex-input"
        data-qno="2" style="width: 170px" id="ex2"> <span id="s2"> </span> of your work experience. Submit that
      together with a letter from your <strong></strong> <input type="text" class="ex-input" style="width: 170px"
        data-qno="3" id="ex3"> <span id="s3"> </span> to the university admissions office.</p>
  </div>

  <br><br>
  <p><strong>{{cut "Questions 21-23"}}</strong></p>
  <p>Where can the items listed below be found?</p>
  <ol type="A">
    <li> admissions office</li>
    <li> counseling center</li>
    <li> library</li>
  </ol><br>
  <p>Write the correct letter, <strong>A</strong>, <strong>B</strong>, or<strong> C</strong>, next to questions <strong></strong><strong></strong>.</p>

  <p><strong></strong> university catalog
    <input type="text" class="ex-input" data-qno="4" style="width: 30px" id="ex4">
    <span id="s4"> </span></p>

  <p><strong></strong> application for admission form
    <input type="text" class="ex-input" data-qno="5" style="width: 30px" id="ex5">
    <span id="s5"> </span> </p>
  <p><strong></strong> requirements list5
    <input type="text" class="ex-input" data-qno="6" style="width: 30px" id="ex6">
    <span id="s6"> </span></p>
  <p><strong></strong> recommendation forms
    <input type="text" class="ex-input" data-qno="7" style="width: 30px" id="ex7">
    <span id="s7"> </span> </p>
  <p><strong></strong> job listings
    <input type="text" class="ex-input" data-qno="8" style="width: 30px" id="ex8">
    <span id="s8"> </span></p>
  <br><br>


  <p><strong>{{cut "Questions 29 and 30"}}</strong>
  </p>
  <p>Choose the correct letters, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>
  <p><strong></strong> What are full-time students eligible for? <span id="s9"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="9" name="q9"> Discounted books. </li>
    <li><input type="radio" data-qno="9" name="q9" id="a9">
      The work-study program.</li>
    <li><input type="radio" data-qno="9" name="q9">
      A free bus pass.</li>
  </ol>
  <p></p>
  <br>
  <p><strong></strong> How can a student get financial assistance? <span id="s10"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="10" name="q10" id="a10">
      Speak with a counselor.</li>
    <li><input type="radio" data-qno="10" name="q10">
      Apply to the admissions office.</li>
    <li><input type="radio" data-qno="10" name="q10">
      Make arrangements with a bank.</li>
  </ol>
  <p></p>
  <br>
  <div id="result" align="center"> </div>
</div>