<audio controls="" controlslist="nodownload">
  <source src="./../audio/17.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>{{cut "Questions 1-5"}}</strong> </p>
  <p>Complete the information below. Write <strong>NO MORE THAN ONE WORD OR A NUMBER</strong> for each answer.</p>
  <table border="1" cellspacing="0" cellpadding="4" width="70%" align="center">
    <tbody>
      <tr>
        <td colspan="2" valign="top">
          <p align="center" style="font-weight:bold;">Apartment for rent</p>
        </td>
      </tr>
      <tr>
        <td valign="top" width="30%">
          <p>Street</p>
        </td>
        <td valign="top" width="70%">
          <p><u>Bridge</u> street</p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p>Street №</p>
        </td>
        <td valign="top">
          <p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="1" id="ex1" required="">
            <span id="s1"> </span></p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p>Included utilities</p>
        </td>
        <td valign="top">
          <p>Gas, heat, water, <strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="2"
              id="ex2" required=""> <span id="s2"> </span>, phone</p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p>Not included utilities</p>
        </td>
        <td valign="top">
          <p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="3" id="ex3" required="">
            <span id="s3"> </span></p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p>Public transport</p>
        </td>
        <td valign="top">
          <p>Underground, <strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="4" id="ex4"
              required=""> <span id="s4"> </span></p>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p>Tenant’s name</p>
        </td>
        <td valign="top">
          <p>John <strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="5" id="ex5"
              required=""> <span id="s5"> </span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <p><strong>{{cut "Questions 6-8"}}</strong> </p>
  <p> Choose <strong>THREE</strong> letters,<strong>A</strong>-<strong>F</strong>.</p>
  <p>Which <strong>THREE</strong> things should the caller bring to the meeting?</p>
  <div>
    <ol type="A" data-weight="3">
      <li> <input type="checkbox" id="ch11"> Driving license <span id="s11"></span></li>
      <li> <input type="checkbox" id="ch12" value="1"> Passport <span id="s12"></span></li>
      <li> <input type="checkbox" id="ch13"> Tax bill <span id="s13"></span> </li>
      <li> <input type="checkbox" id="ch14" value="1"> Employment contract <span id="s14"></span></li>
      <li> <input type="checkbox" id="ch15" value="1"> Reference from a friend or colleague <span id="s15"></span></li>
      <li> <input type="checkbox" id="ch16"> Reference from an employer <span id="s16"></span></li>
    </ol>
  </div>
  <br>
  <p><strong>{{cut "Questions 9-10"}}</strong> </p>
  <p>Choose the correct letters, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>
  <p><strong></strong> What time do the caller and apartment manager decide to meet? <span id="s9"></span></p>
  <ol type="A">
    <li><input type="radio" data-qno="9" name="q9"> 5:30 PM</li>
    <li><input type="radio" data-qno="9" name="q9"> 6:00 PM</li>
    <li><input type="radio" data-qno="9" name="q9" id="a9"> 6:30 PM</li>
  </ol>
  <p><strong></strong> Where do they decide to meet? <span id="s10"></span></p>
  <ol type="A">
    <li><input type="radio" data-qno="10" name="q10"> Near the manager’s apartment</li>
    <li><input type="radio" data-qno="10" name="q10" id="a10"> At the caller’s future apartment </li>
    <li><input type="radio" data-qno="10" name="q10"> At the office</li>
  </ol>
</div>