<audio controls="" controlslist="nodownload"><source src="./../audio/18.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
  <p>&nbsp;</p>
  <p><strong>{{cut "Questions 11-16"}}</strong></p>
<p>Complete the table below. </p><p>Write <strong>NO MORE THAN TWO WORDS AND/OR A NUMBER</strong> for each answer.</p><br>
  <table border="1" cellspacing="0" cellpadding="3" align="center" width="70%">
    <tbody><tr>
      <td width="50%"><p align="center"><strong>Ticket type</strong></p></td>
      <td><p align="center"><strong>Ticket cost</strong></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p>Adult’s ticket</p></td>
      <td style="padding-left:7px;"><p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="1" id="ex1" required=""> pounds 
         <span id="s1"> </span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p>Child’s ticket</p>
        <p>(for children between 5 and 15 years)</p></td>
      <td style="padding-left:7px;"><p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="2" id="ex2" required=""> pounds 
         <span id="s2"> </span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p>*Children under <strong></strong> <input type="text" class="ex-input" data-qno="3" style="width:120px" id="ex3" required=""> years <span id="s3"> </span></p></td>
      <td style="padding-left:7px;"><p>free</p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p>Reduced tariff</p>
        <p>(for full-time students and disabled visitors) </p></td>
      <td style="padding-left:7px;"><p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="4" id="ex4" required=""> pounds 
         <span id="s4"> </span></p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="5" id="ex5" required=""> <span id="s5"> </span></p>
        <p>(can be used by up to 2 adults and 3 children)</p></td>
      <td style="padding-left:7px;"><p>55 pounds</p></td>
    </tr>
    <tr>
      <td style="padding-left:7px;"><p>Annual membership</p></td>
      <td style="padding-left:7px;"><p><strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="6" id="ex6" required=""> pounds 
         <span id="s6"> </span></p></td>
    </tr>
  </tbody></table>
  <br><br>
  <p><strong>{{cut "Questions 17-20"}}</strong></p>
<p>Complete the information about ordering tickets below. Write <strong>NO MORE THAN TWO WORDS</strong> for each answer.</p>
  <ul>
    <li>The easiest way, is to buy your tickets <strong></strong> <input type="text" class="ex-input" style="width:150px" data-qno="7" id="ex7" required=""> . <span id="s7"> </span>
  
  <p>Make sure that you receive a <strong></strong> <input type="text" class="ex-input" style="width:150px" data-qno="8" id="ex8" required=""> of your booking! <span id="s8"> </span></p></li>
  
    <li><p>The second way is to book your tickets <strong></strong> <input type="text" class="ex-input" style="width:150px" data-qno="9" id="ex9" required=""> . <span id="s9"> </span></p></li>
    <li><p>If you don’t want to plan your visit in advance, you can simply purchase the tickets <strong></strong> <input type="text" class="ex-input" style="width:150px" data-qno="10" id="ex10" required=""> in ticket kiosks. <span id="s10"> </span></p></li>
  </ul>
  </div>