<audio controls="" controlslist="nodownload">
  <source src="./../audio/28.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</section></strong></p>
  <p><strong>{{cut "QUESTIONS 31-40"}}</strong></p>
  <p>Complete the notes below. </p>
  <p>Write <strong>NO MORE THAN TWO WORDS </strong> for each answer.</p>
  <p>&nbsp; </p>
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td valign="top">
          <p align="center"><strong>THE URBAN LANDSCAPE</strong></p>
          <strong>Two areas of focus</strong>:<p></p>
          <ul>
            <li>the effect of vegetation on the urban climate</li>
            <li>ways of planning our <strong></strong>
              <input type="text" class="ex-input" data-qno="1" style="width:120px" id="ex1" required="required"> <span
                id="s1"></span>
              better</li>
          </ul>
          <br>
          <p><strong>Large-scale impact of trees</strong>:</p>
          <ul>
            <li>they can make cities more or less <strong></strong>
              <input type="text" class="ex-input" data-qno="2" style="width:120px" id="ex2" required="required"> <span
                id="s2"></span>
            </li>
            <li>in summer they can make cities cooler</li>
            <li>they can make inland cities more <strong></strong>
              <input type="text" class="ex-input" data-qno="3" style="width:120px" id="ex3" required="required"> <span
                id="s3"></span>
            </li>
          </ul>
          <br>
          <p><strong>Local impact of trees</strong>:</p>
          <ul>
            <li>they can make local areas</li>
            <ul type="square">
              <li>more <strong></strong>
                <input type="text" class="ex-input" data-qno="4" style="width:120px" id="ex4" required="required">
                <span id="s4"></span>
              </li>
              <li>cooler</li>
              <li>more humid</li>
              <li>less windy</li>
              <li>less <strong></strong>
                <input type="text" class="ex-input" data-qno="5" style="width:120px" id="ex5" required="required">
                <span id="s5"></span>
              </li>
            </ul>
          </ul>
          <p>&nbsp;</p>
          <p><strong><u>Comparing trees and buildings</u></strong></p>
          <br>
          <p><strong>Temperature regulation</strong>:</p>
          <ul>
            <li>trees evaporate water through their <strong>36.</strong>
              <input type="text" class="ex-input" data-qno="6" style="width:120px" id="ex6" required="required"> <span
                id="s6"></span>
            </li>
            <li>building surfaces may reach high temperatures</li>
          </ul><br>


          <p><strong>Wind force</strong>:</p>
          <ul>
            <li>tall buildings cause more wind at <strong>37.</strong>
              <input type="text" class="ex-input" data-qno="7" style="width:120px" id="ex7" required="required"> <span
                id="s7"></span>
              level</li>
            <li>trees <strong></strong>
              <input type="text" class="ex-input" data-qno="8" style="width:120px" id="ex8" required="required"> <span
                id="s8"></span>
              the wind force</li>
          </ul><br>

          <p><strong>Noise</strong>:</p>
          <ul>
            <li>trees have a small effect on traffic noise</li>
            <li><strong></strong>
              <input type="text" class="ex-input" data-qno="9" style="width:120px" id="ex9" required="required"> <span
                id="s9"></span>
              frequency noise passes through trees</li>
          </ul><br>

          <p><strong>Important points to consider</strong>:</p>
          <ul>
            <li>trees require a lot of sunlight, water and <strong></strong>
              <input type="text" class="ex-input" data-qno="10" style="width:120px" id="ex10" required="required">
              <span id="s10"></span>
              to grow</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <p><br>
  </p>

  

</div>