<audio controls="" controlslist="nodownload"><source src="./../audio/35.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
          <p>&nbsp;</p>
            <p><strong>SECTION {{section}}</strong></p>
          <p><strong>{{cut "QUESTIONS 21-30"}}</strong>            </p>
          <p>&nbsp;</p>
          <p><strong>{{cut "Questions 21-23"}}</strong></p>
          <p>
            Choose the correct letter, <strong>A</strong>, <strong>B</strong> or <strong>C</strong>.</p>
          <p><strong></strong> The proposal will <span id="s1"></span></p>
          <ol type="A">
            <li>
              <input type="radio" data-qno="1" name="q1">
            be reviewed by two examiners.</li>
            <li>
              <input type="radio" data-qno="1" name="q1">
            be added to the final grade.</li>
            <li>
              <input type="radio" data-qno="1" name="q1" id="a1">
            be returned with feedback.</li>
          </ol>
          
          <p>&nbsp;</p>
          <p><strong></strong> The proposal will consist mostly of <span id="s2"></span></p>
          <ol type="A">
            <li>
              <input type="radio" data-qno="2" name="q2">
            topics.</li>
            <li>
              <input type="radio" data-qno="2" name="q2" id="a2">
            methods.</li>
            <li>
              <input type="radio" data-qno="2" name="q2">
            results.</li>
          </ol>
        
           <p>&nbsp;</p>
          <p><strong></strong> For the practice paper, the tutor has directed the students to make sure to  <span id="s3"></span></p>
          <ol type="A">
            <li>
              <input type="radio" data-qno="3" name="q3" id="a3">
            pay attention to time limits.</li>
            <li>
              <input type="radio" data-qno="3" name="q3">
            write at least 6,000 words.</li>
            <li>
              <input type="radio" data-qno="3" name="q3">
            keep on topic.</li>
            </ol>
<p>&nbsp;</p>
<p><strong>Questions 24-30</strong></p>
<p>Complete the sentences below.</p>
<p>
  Write<strong> ONE WORD AND/OR A NUMBER </strong>for each answer.</p>
<p></p>
<strong>2</strong>There is no need to
<input type="text" class="ex-input" style="width:130px" id="ex4" data-qno="4" required="required"> 

  lots of people. <span id="s4"></span> 
  <p></p>
  <strong></strong> Pay attention to the
  <input type="text" class="ex-input" style="width:130px" id="ex5" data-qno="5" required="required"> of the final report. <span id="s5"></span> 
  <p></p>
  <strong></strong> Prepare
  <input type="text" class="ex-input" style="width:130px" id="ex6" data-qno="6" required="required">, one for the teaches, another for the students themselves. <span id="s6"></span> 
  <p></p>
  <strong> </strong>The deadline of the final paper is
  <input type="text" class="ex-input" style="width:130px" id="ex7" data-qno="7" required="required">. <span id="s7"></span>  
 <p></p>
  <strong></strong> The students can
  <input type="text" class="ex-input" style="width:130px" id="ex8" data-qno="8" required="required"> their topics before the beginning of April. <span id="s8"></span>
  <p></p>
  <strong></strong> Students deciding to change topics must deliver a 
  <input type="text" class="ex-input" style="width:130px" id="ex9" data-qno="9" required="required"> to the research in advance. <span id="s9"></span>
  <p></p>
  <strong></strong> At the beginning ot the report, the hypothesis and an outline of the 
  <input type="text" class="ex-input" style="width:120px" id="ex10" data-qno="10" required="required"> are needed. <span id="s10"></span><p></p>
<p><br>
  </p>
     
  </div>