<audio controls="" controlslist="nodownload"><source src="./../audio/36.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
          <p><strong>SECTION {{section}}. </strong><strong>{{cut "QUESTIONS 31-40"}}|</strong>          </p>
          <p>Complete the notes below. </p>
          <p>Write <strong>NO MORE THAN TWO WORDS </strong> for each answer.</p>
          <p>&nbsp; </p>
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="828" height="667" valign="top"><p align="center"><strong>ADVERTISING EFFECT</strong></p>
                <strong>The important factor to consider</strong><ul>
                  <li>The <strong>31.</strong> 
                    <input type="text" class="ex-input" data-qno="1" style="width:120px" id="ex1" required="required"> 
                    customers must travel affects the probability that they will buy the product. <span id="s1"></span></li>
                </ul>
                <br>
                <p><strong>Methods of communication</strong></p>
                <ul>
                  <li>Advertising slogans are easier to remember if there is a  <strong>32.</strong>
                    <input type="text" class="ex-input" data-qno="2" style="width:150px" id="ex2" required="required"> 
                    
                  played with them. <span id="s2"></span></li><p></p>
                 <li>Mandy's Candy Store appeals to people's sense of <strong>33.</strong>
                   <input type="text" class="ex-input" data-qno="3" style="width:150px" id="ex3" required="required">
                    to draw in customers. <span id="s3"></span></li><p></p>
                 <li>To an ad campaign for digital products, it is  <strong>34.</strong>
                   <input type="text" class="ex-input" data-qno="4" style="width:150px" id="ex4" required="required">
                    that is extremely important. <span id="s4"></span></li>
                </ul>
                <br>
                <p><strong>Effect on your product sales</strong></p>
                <ul>
                  <li>The customer's <strong>35.</strong>
                    <input type="text" class="ex-input" data-qno="5" style="width:150px" id="ex5" required="required">
                    after he or she experiences the ad is most important. <span id="s5"></span><br>
                </li>
                </ul>
                <br>
                <p><strong>Marketing strategies</strong></p>
                <ul>
                  <li>On international flights, it is wise for the advertisement to be displayed in the common  <strong>36.</strong>
                    <input type="text" class="ex-input" data-qno="6" style="width:150px" id="ex6" required="required"> 
                    of most passengers. <span id="s6"></span></li><p></p>
                
                <li>Very few young people buy<strong> 37.</strong> 
                  <input type="text" class="ex-input" data-qno="7" style="width:150px" id="ex7" required="required">. 
                  <span id="s7"></span></li><p></p>
                 <li>The UNESCO website would be a good place to advertise for companies aiming to improve the <strong>38.</strong> 
                   <input type="text" class="ex-input" data-qno="8" style="width:150px" id="ex8" required="required">. 
                   <span id="s8"></span>
                  </li><p></p>
                <li>One good location to place ads for sunscreen is the <strong>39.</strong> 
                  <input type="text" class="ex-input" data-qno="9" style="width:150px" id="ex9" required="required">.
                  <span id="s9"></span></li>
                <p></p>
                <li>A good scene for a water purification commercial would be <strong>40.</strong> 
                  <input type="text" class="ex-input" data-qno="10" style="width:150px" id="ex10" required="required">. 
                  <span id="s10"></span></li>
                </ul></td>
            </tr>
          </tbody></table>
          <p><br> 
          </p>
       
</div>