<audio controls="" controlslist="nodownload"><source src="./../audio/38.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
   <p>{{cut "QUESTIONS 11-20"}}</strong></p>


  <p>&nbsp;</p>
    
  
  <p>Choose the correct letter, <strong>A</strong>, <strong>B</strong>,  or <strong>ะก</strong>.</p>
  <p><strong></strong> The lecture was organised by <span id="s1"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="1" name="q1"> City of Nottingham.</li>
     <li><input type="radio" data-qno="1" name="q1" id="a1"> University of Nottingham Students' Union.</li>
     <li><input type="radio" data-qno="1" name="q1"> Nottingham Police Department.</li>
     
    </ol><p></p>

  <p>&nbsp;</p>
  <p><strong></strong> The majority of crime on campus is <span id="s2"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="2" name="q2"> drugs and alcohol.</li>
     <li><input type="radio" data-qno="2" name="q2"> violence.</li>
     <li><input type="radio" data-qno="2" name="q2" id="a2"> theft.</li>
 
    </ol><p></p>

  <p>&nbsp;</p>
  <p><strong></strong> The campus crime rate has ____________ so far this year. <span id="s3"></span>
    </p><ol type="A"> 
     <li><input type="radio" data-qno="3" name="q3"> increased.</li>
     <li><input type="radio" data-qno="3" name="q3" id="a3"> decreased.</li>
     <li><input type="radio" data-qno="3" name="q3"> stayed the same.</li>
     
    </ol><p></p>
  
  <p>&nbsp;</p>
  <p><strong></strong> Why is there added concern about crime? <span id="s4"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="4" name="q4" id="a4"> Exaggeration in media.</li>
     <li><input type="radio" data-qno="4"name="q4"> Crime TV shows.</li>
     <li><input type="radio" data-qno="4" name="q4"> Factual news articles.</li>

    </ol><p></p>
 
  <p>&nbsp;</p>
  <p><strong></strong> Carlos says if you are the victim of crime, you should <span id="s5"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="5" name="q5"> run away.</li>
     <li><input type="radio" data-qno="5" name="q5"> resist.</li>
     <li><input type="radio" data-qno="5" name="q5" id="a5"> seek help.</li>

    </ol><p></p>
    
     <p>&nbsp;</p>
  <p><strong></strong> What is the primary method for increasing safety? <span id="s6"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="6" name="q6" id="a6"> Informing students and staff of safety precautions.</li>
     <li><input type="radio" data-qno="6" name="q6"> Offering free self-defense courses to students.</li>
     <li><input type="radio" data-qno="6" name="q6"> Reminding students to carry a mobile phone at all times.</li>
     
    </ol><p></p>
    
     <p>&nbsp;</p>
  <p><strong></strong> If a student must work late, it is most important to <span id="s7"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="7" name="q7"> not return home until the morning.</li>

     <li><input type="radio" data-qno="7" name="q7" id="a7"> go back with a friend.</li>
     <li><input type="radio" data-qno="7" name="q7"> bring a mobile phone.</li>
    </ol><p></p>
    
     <p>&nbsp;</p>
  <p><strong></strong> It is dangerous to <span id="s8"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="8" name="q8"> drive home late at night.</li>
     <li><input type="radio" data-qno="8" name="q8" id="a8"> carry a knife.</li>
     <li><input type="radio" data-qno="8" name="q8"> carry pepper spray.</li>

    </ol><p></p>
    
     <p>&nbsp;</p>
  <p><strong></strong> Students who complete self-defense course are <span id="s9"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="9" name="q9" id="a9"> more aware of dangers.</li>
     <li><input type="radio" data-qno="9" name="q9"> mentally tougher.</li>
     <li><input type="radio" data-qno="9" name="q9"> walking more confidently.</li>

    </ol><p></p>
    
     <p>&nbsp;</p>
  <p><strong></strong> A university is <span id="s10"></span>
    
    </p><ol type="A"> 
     <li><input type="radio" data-qno="10" name="q10" id="a10"> not surrounded by walls.</li>
     <li><input type="radio" data-qno="10" name="q10"> patrolled by military.</li>
     <li><input type="radio" data-qno="10" name="q10"> completely safe.</li>

    </ol><p></p>
<p><br>
</p>
<div id="result" align="center"> </div>
</div>





 
