<audio controls="" controlslist="nodownload">
  <source src="./../audio/40.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
  <p><strong>{{cut "QUESTIONS 31-40"}}</strong></p>
  <p>Complete the notes below.</p>
  <p>Write <strong>NO MORE THAN THREE WORDS </strong> for each answer.</p>
  <p>&nbsp; </p>
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td width="828" height="667" valign="top">
          <p align="center"><strong>GIVING A SPEECH</strong></p>
          <strong>Reasons for nervousness</strong>
          <ul>
            <li>Lecturers often feel more nervous if a speech is <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="1" id="ex1" required="required">
              . <span id="s1"></span></li>
          </ul>
          <ul>
            <li>Many think that the ability to make a good public speaking is <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="2" id="ex2" required="required">

              , while in fact it is a skill that can be learned by anyone. <span id="s2"></span></li>
          </ul>
          <br>
          <p><strong>How to prepare a quality speech</strong></p>
          <ul>
            <li>The audience will only remember the <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="3" id="ex3" required="required">
              sentence of speech. <span id="s3"></span></li>
            <p></p>
            <li>Ensure that your speech is <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="4" id="ex4" required="required">
              . <span id="s4"></span><br>
            </li>
          </ul>
          <br>
          <p><strong>Do's and Don'ts</strong></p>
          <ul>
            <li>Don't start your speech until audience is <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="5" id="ex5" required="required">
              . <span id="s5"></span></li>
          </ul>
          <ul>
            <li>You can make your main ideas or notes on cards or a <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="6" id="ex6" required="required">
              . <span id="s6"></span></li>
            <p></p>

            <li>You do not need to write down the<strong> </strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="7" id="ex7" required="required">
              speech.
              <span id="s7"></span></li>
            <p></p>
            <li>You can just write <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="8" id="ex8" required="required"> ideas.
              <span id="s8"></span>
            </li>
            <p></p>
            <li>Remember to <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="9" id="ex9" required="required">
              yourself to see how long your speech will be.
              <span id="s9"></span></li>
            <p></p>
            <li>Don't just <strong></strong>
              <input type="text" class="ex-input" style="width:120px" data-qno="10" id="ex10" required="required"> a
              script.
              <span id="s10"></span></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
  </p>

  
</div>