<audio controls="" controlslist="nodownload">
  <source src="./../audio/41.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}} </strong></p>
  <p><strong>{{cut "QUESTIONS 1-10"}}</strong></p>

  <p>Complete the form below.</p>
  <p>Write <strong>NO MORE THAN TWO WORDS AND/OR A NUMBER</strong> for each answer.</p>
  <div align="left">
    <table class="t-padding" border="1" width="82%" cellspacing="0" cellpadding="3" align="center">
      <tbody>
        <tr>
          <td colspan="2" valign="top">
            <div align="center"><strong>REGISTRATION FORM</strong></div>
          </td>
        </tr>
        <tr>
          <td width="56%" valign="top"><em>Example</em>:
            Type of crime report</td>
          <td width="44%" valign="top"><em>Answer: </em><u> Robbery</u></td>
        </tr>
        <tr>
          <td valign="top">Name:</td>
          <td valign="top">Anna <strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="1" id="ex1" required="">
            <span id="s1"></span></td>
        </tr>
        <tr>
          <td valign="top">Date of birth:</td>
          <td valign="top">
            <strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="2" id="ex2" required="">
            <span id="s2"></span></td>
        </tr>
        <tr>
          <td valign="top">Address:</td>
          <td valign="top">4<strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="3" id="ex3" required=""> St. <span id="s3"></span>
          </td>
        </tr>
        <tr>
          <td valign="top">Post code:</td>
          <td valign="top"><strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="4" id="ex4" required="required">
            <span id="s4"></span></td>
        </tr>
        <tr>
          <td valign="top">Nationality:</td>
          <td valign="top">Grenadian</td>
        </tr>
        <tr>
          <td valign="top">Number of previous burglaries:</td>
          <td valign="top"><strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="5" id="ex5" required="required"> <span id="s5"></span></td>
        </tr>
        <tr>
          <td valign="top">Time of apartment tenancy:</td>
          <td valign="top"><strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="6" id="ex6" required="required">
            <span id="s6"></span></td>
        </tr>
        <tr>
          <td valign="top">Number of occupants:</td>
          <td valign="top"><strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="7" id="ex7" required="required">
            <span id="s7"></span></td>
        </tr>
        <tr>
          <td valign="top">Entry point of burglar:</td>
          <td valign="top"><strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="8" id="ex8" required="required">
            <span id="s8"></span></td>
        </tr>
        <tr>
          <td valign="top">Details of lost property:<br>
            <div style="padding:12px 0 0px 0;">- Serial number of lost computer:<br>
              - Material of stolen purse:</div>
          </td>
          <td valign="top"><br>
            <strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="9" id="ex9" required="required">
            <span id="s9"></span><br>
            <strong></strong>
            <input type="text" class="ex-input" style="width:150px" data-qno="10" id="ex10" required="required">
            <span id="s10"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>&nbsp;</p>
</div>