<audio controls="" controlslist="nodownload">
  <source src="./../audio/8.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong><strong>{{cut "QUESTIONS 31-40"}}</strong></p>
  <p>&nbsp;</p>

  <p>{{cut "Questions 31-35"}}</strong></p>

  <p>Choose the correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>С</strong>.</p>
  <p><strong></strong> The tomato originally came from <span id="s1"></span>

  </p>

  <ol type="A">
    <li><input type="radio" data-qno="1" name="q1"> Mexico.</li>
    <li><input type="radio" data-qno="1" name="q1"> Spain.</li>
    <li><input type="radio" data-qno="1" name="q1" id="a1"> Peru.</li>
  </ol>
  <p></p>

  <p>&nbsp;</p>
  <p><strong></strong> The original color of the tomato was <span id="s2"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="2" name="q2"> red.</li>
    <li><input type="radio" data-qno="2" name="q2"> green.</li>
    <li><input type="radio" data-qno="2" name="q2" id="a2"> yellow.</li>
  </ol>
  <p></p>

  <p>&nbsp;</p>
  <p><strong></strong> The Aztec word for tomato means <span id="s3"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="3" name="q3"> golden apple.</li>
    <li><input type="radio" data-qno="3" name="q3" id="a3"> plump thing.</li>
    <li><input type="radio" data-qno="3" name="q3"> small fruit.</li>
  </ol>
  <p></p>

  <p>&nbsp;</p>
  <p><strong></strong> In the 1500s, people in Spain and Italy <span id="s4"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="4" name="q4" id="a4"> enjoyed eating tomatoes.</li>
    <li><input type="radio" data-qno="4" name="q4"> used tomatoes as ornamental plants.</li>
    <li><input type="radio" data-qno="4" name="q4"> made medicine from tomatoes.</li>
  </ol>
  <p></p>

  <p>&nbsp;</p>
  <p><strong></strong> In the 1600s, the British <span id="s5"></span>

  </p>
  <ol type="A">
    <li><input type="radio" data-qno="5" name="q5" id="a5"> saw tomatoes as poisonous.</li>
    <li><input type="radio" data-qno="5" name="q5"> published tomato recipes.</li>
    <li><input type="radio" data-qno="5" name="q5"> ate tomato sauce daily.</li>
  </ol>
  <p></p>

  <p>&nbsp;</p>
  <p><br>
  </p>
  <p><strong>Questions 36-40</strong></p>
  <p>Complete the timeline with information about the history оf the tomato in the United States. </p>
  <p>Write <strong>NO MORE THAN TWO WORDS</strong> for each answer.</p><br>
  <p>1806 - Tomatoes were mentioned as food in a <strong></strong> <input type="text" data-qno="6" class="ex-input" style="width:140px"
      id="ex6" required=""><span id="s6"></span>.</p>
  <p>1809 -&nbsp;Thomas Jefferson <strong></strong> <input type="text" data-qno="7" class="ex-input" style="width:140px" id="ex7"
      required=""> <span id="s7"></span> at his home in Virginia.</p>
  <p>1820 -&nbsp;A man proved that tomatoes were not poisonous by eating them <strong></strong> <input type="text"
      class="ex-input" data-qno="8" style="width:139px" id="ex8" required="">.<span id="s8"></span></p>
  <p>1830s -&nbsp;<strong> <input type="text" class="ex-input" data-qno="9" style="width:140px" id="ex9" required=""></strong>
    <span id="s9"></span> appeared in newspapers and magazines.</p>
  <p>1930s -&nbsp;People began to eat <strong></strong> <input type="text" data-qno="10" class="ex-input" style="width:140px" id="ex10"
      required=""> <span id="s10"></span>.</p>
  <br>


  <p><br>
  </p>